body {
    margin: 5%;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    }
    

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    }
    

nav {
    width: 73%;
    padding: 1%;
    }
    

ul {
    width: 50%;
    margin-left: auto;
}
    
    
.heroImg {
    height: 600px;
    padding: 25px;
}
    
    
.content {
    width: 500px;
    margin: 0 auto;
}


footer {
background-color: #373738;
padding: 1%;
}


.flexContainer{
    display: flex;
    flex-direction: row;
}


.mySkills div {
    width: 33%;
    margin: 1%;
    padding: 70px;
}







.workGrid {
    display: grid;
    grid-area: myWork;
}

.grid-container {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: auto auto;
    grid-template-areas: 'myWork myWork . . .';
    grid-gap: 10px;
    padding: 10px;
  }

  @media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
        width: 100%;
    }
  }